<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/perfume-store.css">
    <title>The Perfume Store</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container text-left">
            <a class="navbar-brand" href="#">
                <img src="./img/logo.png" alt="logo">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg12">
                <h1>Your perfect gift is here!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <!-- <div class="table-resposive"></div> -->
                <table class="table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Brand</th>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Update</th>
                        </tr>
                    </thead>
                    <tbody id="myTable"></tbody>
                </table>
                <form>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Total &euro;</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Total" name="txtBillAmt">
                        <input class="btn btn-block btn-calc mt-2" type="button" name="btnCalcBill"
                            value="Calculate Bill" id="calcBill">
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <form>
                    <div class="highlight">
                        <input type="checkbox" id="showSale" aria-label="Checkbox for input" />
                        <label>Highlight items on sale</label>
                    </div>
                </form>
                <div class="content-box">
                    <div class="container">
                        <p>Add new items to our perfume catalog:</p>
                        <form>
                            <div class="form-group">
                                <!-- <select class="form-control" name="sec_n">
                                    <option value="0">Women's Perfumes</option>
                                    <option value="1">Men's Perfumes</option>
                                </select> -->
                                <input class="form-control mt-3" type="text" id="brand">
                                <input class="form-control mt-3" type="text" id="name">
                                <input class="form-control mt-3" type="text" id="size">
                                <input class="form-control mt-3" type="text" id="price">
                                <input type="hidden" id="perfumeId">
                                <button type="submit" class="btn btn-save btn-block mt-3">Save</button>
                            </div>
                        </form>
                        <p>Delete items from our perfume catalog, select the item in the table and press delete.</p>
                        <button id="delete" onclick="alertClick()" class="btn btn-delete btn-block mt-3">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container text-left"><span class="text-muted">&copy; 2021 Luiz Dias All Rights Reserved.</span>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="./js/table.js"></script>
    <script src="./js/table-functions.js"></script>

    <script>

        function alertClick() {
            alert('Salvo com sucesso!')
        }

        function Bosta() {
            for (let i = 0; i < edit.length; i++) {
                edit[i].addEventListener('click', function () {
                    editRequest(edit[i])
                    alert('Bosta')

                })
            }
        }

        window.addEventListener("load", function () {
            document.forms[0].txtBillAmt.value = calculateBill('perfumeTable');
            document.querySelector("#calcBill").addEventListener("click", function () {
                document.forms[0].txtBillAmt.value = calculateBill('perfumeTable');
            });
            document.querySelector("#showSale").addEventListener("click", function () {
                highlightSale('perfumeTable', this.checked);
            });
        });
    </script>



</body>

</html>