body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/ps_background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: fixed;
    margin: 5px;
}
.navbar {
    background-color: rgb(235, 188, 111, 0.8);
    color: #FFF;
    height: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    font-size: 180%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}
h2 {
    font-size: 140%;
    color: #EBBC6F;
    text-align: left;
    margin-top: 10px;
}
p {
    font-size: 100%;
    color: #EBBC6F;
    text-align: justify;
}
table {
    background-color: rgb(255, 255, 255, 0.8);
    /* background-color: aquamarine; */
    border: 5px;
    border-color: chartreuse;
    width: 100%;
}

#myTable tbody tr td {
    background-color: coral;
    border-width: 1px;
    border-color: rgb(0, 4, 24, 0.75);
}

/* table th, tr {
    border-width: 1px;
    border-color: rgb(0, 4, 24, 0.75);
} */
.col-lg12 {
    background-color: rgb(0, 4, 24, 0.75);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 20px;
}
.col-lg-8{
    background-color: rgb(0, 4, 24, 0.75);
    padding-top: 15px;
}
.col-lg-4 {
    background-color: rgb(0, 4, 24, 0.75);
    padding-top: 17px;
}

.selected {
    background-color: rgb(255, 51, 82, 0.8);
    color: #FFF;
}
.highlight {
    width: 100%;
    height: 26px;
    outline-style: solid;
    color: #EBBC6F;
    text-align: center;
    line-height: 26px;
}
.content-box {
    outline-style: solid;
    color: #EBBC6F;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.form-control {
    background-color: rgb(255, 255, 255, 0.8);
}
th {
    font-size: 110%;
    text-align: center;
}
td {
    font-size: 95%;
    text-align: center;
}

.btn-calc {
    background-color: rgb(0, 97, 226, 0.8);
    color: #FFF;
    margin-bottom: 2%;
}
.btn-save {
    background-color: rgb(120, 186, 149, 0.8);
    color: #FFF;
    margin-bottom: 30px;
}
.btn-delete {
    background-color: rgb(255, 51, 82, 0.8);
    color: #FFF;
}

.edit {
    background-color: crimson;
}

footer {
    background-color: rgb(235, 188, 111, 0.8);
    height: 65px;
    line-height: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
}